.ads-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
  margin-top: 3%;

  .ads-container-left {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .first-line {
      font-size: 20px;
      color: #1e3b9b;
    }

    .second-line {
      font-size: 50px;
      font-weight: bold;
      color: #ff7866;
    }

    .third-line {
      font-size: 30px;
      text-transform: uppercase;
      color: #1e3b9b;
    }
  }

  .ads-container-right {
    display: flex;
    flex-direction: column;

    .text-and-circle {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;

      .responsive-circle {
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #ff7866;
        position: relative;
        box-sizing: border-box;
        margin-bottom: 2rem;
      }

      .responsive-circle::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        border: 3px solid #1e3b9b;
        border-radius: 50%;
        width: calc(100% + 16px);
        height: calc(100% + 16px);
        left: -8px;
        top: -8px;
      }

      .circle-text {
        position: absolute;
        bottom: 25%;
        width: 100%;
        text-align: center;
        color: #1e3b9b;
        font-weight: bold;
        font-size: 2rem;
      }

      .text {
        margin-top: 3rem;
        margin-left: 3rem;
      }
    }
  }
}
