.home-body {
  display: flex;
  padding: 5% 10% 3% 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fcfbfb;
  box-sizing: border-box;

  .a-better-way {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
  }

  .solution-margin {
    display: block;
    width: 10.3%;
    box-sizing: border-box;
  }

  .video-loop {
    overflow: hidden;
    width: 41.6vw;
    height: 26vw;
    position: relative;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25%;
  }

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .circular-icon {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular-icon img {
    width: auto;
    height: 100%;
    margin-left: -3px;
  }

  .below-icon-text {
    display: block;
    margin-top: 32px;
    font-size: 40px;
    font-weight: 700;
    color: #212121;
    font-family: Dmsans, sans-serif;
    box-sizing: border-box;
  }

  .paragraph-below-text {
    display: block;
    margin-top: 24px;
    font-family: Dmsans, sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #404040;
    box-sizing: border-box;
  }
}
