.jobfair-registration-page {
  display: flex;
  height: 100%;
}

.jobfair-registration-cotnainer {
  width: 100%;
  padding: 2rem 4rem;
}

.step-buttons {
  margin: 0 auto;
  width: 20rem;
  display: flex;
  justify-content: center;

  .next-step-button {
    flex: 1;
    display: flex;
    justify-content: end;
    .ant-btn {
      width: 8rem;
      border-radius: 0 50px 50px 0;
    }
  }

  .pre-step-button {
    flex: 1;
    display: flex;
    justify-content: start;
    .ant-btn {
      width: 8rem;
      border-radius: 50px 0 0 50px;
    }
  }
}
