.job-fair-check-list-container {

  padding: 0 20%;

  margin-bottom: 2rem;

  .ant-btn-link{
    padding: 0!important;
  }


  .progress-bar{
    margin: 1rem 0;
  }



  .step-container {
    border-radius: 8px;
    border: 1px solid black;

    .ant-image-img{
      object-fit: cover;
    }

    .step {
      padding: 1rem;
      border-bottom: 1px solid black;
      display: flex;

      .title {
        display: flex;
        align-items: start;
        margin-bottom: 1rem;

        .content {
          font-size: 1rem;
        }

        .button-container{
          margin-left: auto;
        }

        .time{
          margin-top: 0.5rem;
        }
      }

      .status{
        margin-right: 1rem;
      }
    }
  }

  .step:last-child{
    border-bottom: none;
  }
}