.resume-grid {
  .card {
    border-radius: 8px;
    width: 300px;
    height: 270px;
    border: 1px solid #dddddd;

    .ant-card-body {
      padding: 5px 16px;
    }
  }
  .add-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
