.resume-grid {
  .card {
    border-radius: 8px;
    max-width: 300px;
    aspect-ratio: 15 / 13;
    border: 1px solid #dddddd;

    .ant-card-body {
      padding: 5px 16px;
    }
  }
  .add-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
