.create-button {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.create-button-div {
  width: 50%;
  block-size: fit-content;
  margin-left: 30rem;
}

.card-question {
  width: 50%;
  block-size: fit-content;
  margin-left: 30rem;
  margin-top: 2rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1.5);
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 30px;
  transform: scale(1.5);
}

.submit-button {
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
}

.minus-div {
  margin-left: 3rem;
}

.minus-button {
  border-radius: 10px;
  height: 30px;
  background-color: #C4C4C4;
}

.text-area {
  border-radius: 10px;
  background-color: #C4C4C4;
}

.plus-button {
  border-radius: 10px;
  background-color: #C4C4C4;
  width: 400px;
}