.container {
  display: block;

  .topElement {
    margin-top: 10%;
  }

  .form {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .button {
      width: 10rem;
    }
  }
}
