.message {
  margin-top: 10px;
  width: 100%;
  text-align: right;
  margin-left: -10px;

  .personalMessage {
    .namePerson {
      margin-bottom: -10px;
    }

    .messageLine {
      display: flex;
      align-items: center;

      .messageSent {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;

        .messageSentText {
          padding: 5px 10px;
          min-height: 20px;
          background: #d9cd48;
          border-radius: 20px 20px 20px 20px;
          color: white;
          width: fit-content;
          text-align: left;
        }
      }
    }
  }
}
