.navbar-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #1890ff;
}

.sub-navbar-container {
  position: fixed;
  top: 80px;
  width: 100vw;
  background-color: #2586df;

  .sub-navbar-item:hover {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }

  .sub-navbar-item {
    a:hover {
      color: #2586df !important;
    }
  }
}

.Navbar {
  flex: 1;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ant-menu-horizontal > .ant-menu-item {
  a {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
  }

  :hover {
    font-weight: 500;
    color: #fff !important;
  }
}

.logo {
  width: fit-content;
}

.avatar {
  padding: 0 1rem;
  display: flex;
}
