@import 'src/styles/custom-theme';

.Navbar {
  display: list-item;
  padding: 15px 450px;
}

.Navbar .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

/* ant menu */
.Navbar .ant-menu {
  border: 0;
  background: none !important;
}

.Navbar .ant-menu li.ant-menu-item:before,
.Navbar .ant-menu li.ant-menu-item:after {
  content: '';
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: $main-color;
  z-index: 1;
}

.sub-navbar-container {

  width: 50%;

  .ant-menu {
    width: 100%;
  }

  .sub-navbar-item {
    border-radius: 20px !important;
    margin: 0 20px !important;
    padding: 0 10px !important;
  }

  .sub-navbar-item:hover {
    background-color: #fff;
  }

  .sub-navbar-item {
    a:hover {
      color: $main-color !important;
    }
  }

  .ant-menu-overflow-item {
    color: #fff !important;
    border-radius: 20px !important;
    display: flex !important;

    .ant-menu-submenu-title {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 1.5rem;
      }
    }

    
  }

  .ant-menu-overflow-item:hover {
    color: #fff !important;

    svg {
      font-size: 1.8rem;
    }
  }

  .ant-menu-submenu-title:hover {
    color: #fff !important;
    svg {
      font-size: 1.8rem;
    }
  }
  .ant-menu-horizontal>.ant-menu-submenu:after {
    border-bottom: transparent !important;
  }
}

.Navbar {
  flex: 1;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ant-menu-horizontal > .ant-menu-item {
  a {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
  }

  :hover {
    font-weight: 500;
    color: #fff !important;
  }
}

.logo {
  width: fit-content;
}

.avatar {
  padding: 0 1rem;
  display: flex;
  min-width: max-content;
}
