.question-bank-page {
  position: relative;
  .page-title {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  .back {
    display: flex;
    position: absolute;
    align-items: center;
    top: 1rem;

    h5 {
      margin-left: 5px;
      margin-bottom: 0;
    }
  }
}
