.faq-page {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left-side {
      color: #1E3B9B;
      font-size: 50px;
      text-transform: uppercase;
      font-weight: bold;
      flex: 1;
    }

    .right-side {
      flex: 4;
    }

    .panel-header {
      font-size: large;
      display: flex;
      flexDirection: row;

      .number {
        fontSize: 30px;
        color: #1E3B9B;
        margin-right: 1rem;
        font-weight: bold;
      }
    }

  }
}