.choose-template-job-fair-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  .ant-tabs {
    flex: 1;
  }
  .ant-tabs-content-holder {
    display: flex;
    flex-direction: column;
  }
  .ant-tabs-content {
    flex: 1;
  }
  .ant-tabs-tabpane {
    display: flex;
    flex-direction: column;
  }
}
