.video-call {

  .topVideoCall {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .iconMail {
      padding: 1rem;
      max-width: 25%;
    }

    .videoCall {
      padding: 10px;
      height: 7rem;
      left: 100%;
      z-index: 1000;
    }
  }

  .vid {
    height: 7rem;
    width: 10rem;
  }

  .mainVideo {
    position: relative;
    transform: translateY(-7rem);
    max-width: 100%;
    height: 10rem;
    max-height: 10rem;
    z-index: 2;

    .videoIcon {
      display: flex;
      justify-content: center;

      button {
        margin: 1rem 0.5rem;
      }
    }

    .vid {
      height: auto;
      width: auto;
    }
  }
}
