.resume-detail{
  .ant-anchor-wrapper {
    margin-left: -4px;
    padding-left: 4px;
    overflow: auto;
    background-color: transparent;
    float: right;
  }

  .ant-layout-header {
    height: 64px;
    width: auto;
    padding: 0 50px;
    color: #c9d3d8;
    line-height: 64px;
    background: #ffffff;
  }
}

