.job-fair-grid {
  min-height: 60vh;

  .card-footer {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 20%;

    .card-footer-item {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  .card {
    border-radius: 8px;
    max-width: 300px;
    aspect-ratio: 15 / 13;
    border: 1px solid #dddddd;
    margin-bottom: 2rem;
  }

  .add-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cover {
    max-width: 300px;
    aspect-ratio: 2 / 1;
    border-radius: 8px;
  }
}
