@import "src/styles/custom-theme";
.profile-form {
  padding: 0 20% 5rem;

  .ant-picker {
    width: 100%;
  }

  .list {
    border-radius: 8px;
    margin-bottom: 1rem;
    scroll-margin-top: $navbar-height; /*change this when navbar height is changed */;

  }

}
