.container {
  background-color: white;
  border-radius: 0 0 1rem 1rem;

  .icon {
  }

  .aboutCompany {
    padding: 4rem;
    text-align: justify;
  }

  .tabHeader {
    padding: 10px 10px 10px 25px;
    display: flex;
    flex-direction: row;
  }


}
