/src/pages/AppliedJobPage/AppliedJobPage.jsx
/src/pages/ChangePasswordPage/ChangePasswordPage.jsx
/src/pages/ContractsPage/ContractsPage.jsx
/src/pages/EmployeeManagementPage/EmployeeManagementPage.jsx
/src/pages/EmployeeRegisterPage/EmployeeRegisterPage.jsx
/src/pages/ErrorPage/ErrorPage.jsx
/src/pages/FAQPage/FAQPage.jsx
/src/pages/JobFairPackPage/JobFairPackPage.jsx
/src/pages/JobFairPackPage/components/Menu/JobFairPackPage.js
/src/pages/JobFairPackPage/components/model/Final_booth_model.js
/src/pages/LoginPage/LoginPage.jsx
/src/pages/ProfilePage/Attendant/AttendantInfoPaper/AttendantInfoPaper.jsx
/src/pages/ProfilePage/Attendant/BasicInfoPaper/BasicInfoPaper.jsx
/src/pages/ProfilePage/Attendant/Company/CompanyDefaultModel.jsx
/src/pages/ProfilePage/Attendant/Company/CompanyProfileConstant.jsx
/src/pages/ProfilePage/Attendant/Company/index.jsx
/src/pages/ProfilePage/Attendant/AttendantInfoPaper.jsx
/src/pages/RegisterPage/RegisterPage.jsx
/src/pages/UserPage/UserPage.jsx
/src/pages/ProfilePage/ErrorPage.jsx
/src/pages/ProfilePage/ErrorPage.jsx
/src/components/AppliedJobList/AppliedJobList.jsx
/src/components/EmployeeForm/EmployeeForm.component.jsx
/src/components/attendant-profile-form/AttendantProfileForm.jsx
/src/components/company-profile-form/CompanyProfile.jsx
/src/components/create-job-position-form/CreateJobPositionForm.jsx
/src/components/register-job-fair-form/RegisterJobFairForm.jsx
/src/containers/EmployeeForm/EmployeeForm.container.jsx
/src/containers/EmployeeTable/EmployeeTable.container.jsx
/src/pages/JobFairPackPage/components/Menu/ItemListMenu.js
/src/pages/ProfilePage/AttendantProfilePage.jsx
/src/pages/ProfilePage/Company/index.jsx
/src/redux-flow/authentication/authentication-slice.js
/src/components/AppliedJobList/AppliedJobList.component.jsx
**/*.jsx
**/*.js
