.job-position-input-container {
  flex: 1;
}

.job-position-row-container {
  display: block;

  > div {
    width: fit-content;
    flex: auto 1;
  }
}

.ant-anchor-link-title {
  font-size: 0.95rem;
}
