.job-position-form-modal {
  .ant-modal-content {
    border-radius: 8px;
  }

  .ant-modal-footer {
    border: none;

    .ant-btn {
      height: 44px !important;
      padding: 10px 32px !important;
      border-radius: 8px !important;
    }
  }

  .container {
    padding: 1rem 1rem 0 1rem;

    .left-side {
      padding-right: 1rem;
    }

    .description {
      margin-bottom: 2rem;
      font-size: 1rem;
    }
  }
}
