.interview-schedule-container {
  padding-top: 1rem;
  margin: 0 20rem;

  .legend {
    margin-top: 1rem !important;
    .container {
      margin-top: 0;
      span {
        margin-right: 0.5rem;
      }
    }
  }
}
