.compact-resume-wrapper {
  padding: 0 3rem;

  .ant-descriptions-item {
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .compact-resume-wrapper {
    padding: 0;
  }

  .unimportant-field {
    display: none;
  }
}
