.container {
    width: 50rem;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    .icon {
        font-size: 2rem;
    }
    .aboutCompany {
        padding: 4rem;
        text-align: justify;
    }
}
