.container {
    width: 50rem;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    .icon {
        font-size: 2rem;
    }
    .aboutCompany {
        padding: 4rem;
        text-align: justify;
    }
    .tabHeader {
        padding: 10px 10px 10px 25px;
        display: flex;
        flex-direction: row;
    }
    .title {
        margin-left: 30px;
    }
}
