body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  background: #cfcdcf;
}

.ant-layout {
  background: #fff !important;
}

/* title holder */
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}
/* homepage */
.home {
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}