.job-fair-progress{

  margin-bottom: 2rem;
  padding: 0 1rem;

  .progress-bar{
    margin-bottom: 1rem;
  }

  .booth-header{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .task-item{
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 5px;


    .ant-typography{
      margin-left: 8px;
    }
  }

  .ant-collapse{
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .ant-collapse-item, .ant-collapse-item-active, .ant-collapse-content, .ant-collapse-content-active{
    border-radius: 10px!important;
  }
}