.company-info-card {
  flex: 1;

  .ant-typography {
    font-size: 1rem;
  }
}

.job-positions-info-card {
  flex: 1;

  .ant-typography {
    font-size: 1rem;
  }
}

.confirm-form-container {
  padding-left: 8rem;
  padding-bottom: 3rem;
}
