.message {
  margin-top: 10px;
  margin-left: 10px;

  .personalMessage {
    .namePerson {
      margin-bottom: -10px;
      margin-left: 15%;
    }

    .avatar {
      margin-left: 10px;
    }

    .messageLine {
      display: flex;
      align-items: center;

      .messageReceived {
        display: flex;
        max-width: 80%;

        .messageReceivedText {
          padding: 5px 10px;
          margin-left: 5px;
          background: #c4c4c4;
          border-radius: 15px 15px 15px 15px;
          color: white;
        }
      }
    }
  }
}
