.job-fair-park-map {
  .job-fair-name {
    position: fixed;
    z-index: 500;
    bottom: 100px;
    background-color: #ffffffd4;
    padding: 1rem 1rem 1rem 5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .booth-information {
    position: fixed;
    z-index: 500;
    top: 180px;
    right: 30px;

    .ant-card-body {
      padding: 5px 24px 14px 14px;
    }

    .card-dialog {
      width: 25rem;
      border-radius: 8px;

      h5 {
        font-weight: 700;
        margin-top: 1rem;
      }

      .booth-name {
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
    }

    .header-status {
      display: flex;
      width: 100px;
      justify-content: space-around;

      div{
        display: flex;
        align-items: center;
      }
    }

    .ant-card-actions {
      background-color: #cfcece;
      color: black !important;

      h4 {
        margin: 0;
      }

      div {
        color: black !important;
      }
    }
  }
}
