.job-fair-park-map{
  .job-fair-name{
    position: fixed;
    z-index: 500;
    bottom: 100px;
    background-color: #ffffffd4;
    padding: 1rem 1rem 1rem 5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}