.register-page {
  display: flex;
  overflow: hidden;
}

.login-container {
  min-width: 350px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.register-container{
  min-width: 350px;
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
}
